extends layout
block content
    - if (anime){var animeData = anime.data();}
    h2(style="text-align:center;")=title
    form#anime-form(action="" method="post")
        input(type="hidden" name="id" value=(anime ? anime.id : ""))
        label(for="title") Título:
        input(id="title" name="title" type='text' placeholder="anime title" value=(animeData ? animeData.title : "") required)
        label(for="sumary") Sinopsis:
        input(id="sumary" name="sumary" type='text' placeholder="sinopsis como las de hentaila XD" value=(animeData ? animeData.sumary : ""))
        label(for="credits") Creditos:
        div#credits.grid.columns-4-auto
            if anime && animeData.credits
                for credit, i in animeData.credits
                    div.grid
                        input(name="name" value=credit.name)
                        input(name="value" value=credit.value)
        button(type="button" onclick="addCredit()") Agregar credito
        div.grid
            label(for="episodes") Episodios:
            label(for="primaryColor") Color:
            label(for="tags") Tags: (separadas por comas)
        div.grid
            input(id="episodes" name="episodes" type='text' placeholder="ej: 12 + 1 OVA" value=(animeData ? animeData.episodes : ""))
            input(id="primaryColor" name="primaryColor" type='color' value=(animeData ? animeData.primaryColor : ""))
            input(id="tags" name="tags" type='text' placeholder="Anime, Finished ,BD ,JAV" value=(animeData && animeData.tags ? animeData.tags.join(", ") : ""))
        div.grid
            label(for="imageLink")= `Imagen (link):`
            label(for="downloadLink") Link de descarga:
            if (animeData && animeData.discordMessageLink)
                label(for="discordMessageLink")= `Mensaje en discord (link):`
        div.grid
            input(id="imageLink" name="imageLink" type='text' placeholder="https://cdn.myanimelist.net/images/anime/1695/111486l.jpg" value=(animeData ? animeData.imageLink : ""))
            input(id="downloadLink" name="downloadLink" type='text' placeholder="dd-bits.tk/anime/horimiya" value=(animeData ? animeData.downloadLink : ""))
            if (animeData && animeData.discordMessageLink)
                input(id="discordMessageLink" name="discordMessageLink" type='text' placeholder="este lo llena el bot luego" value=(animeData ? animeData.discordMessageLink : ""))
        div.grid
            label(for="malLink") MyAnimeList (Link):
            label(for="anilistLink") AniList (Link):
        div.grid
            input(id="malLink" name="malLink" type='text' placeholder="https://myanimelist.net/anime/42897/Horimiya" value=(animeData ? animeData.malLink : ""))
            input(id="anilistLink" name="anilistLink" type='text' placeholder="https://anilist.co/anime/124080/Horimiya/" value=(animeData ? animeData.anilistLink : ""))
        div.grid
            label(for="createdAt") Fecha Creado:
            label(for="updatedAt") Fecha Actualizado:
        div.grid
            input(id="createdAt" name="createdAt" type='datetime-local' value=(animeData ? animeData.createdAt : ""))
            input(id="updatedAt" name="updatedAt" type='datetime-local' value=(animeData ? animeData.updatedAt : ""))

        button(type="submit") Enviar
    script(src="/scripts/anime-form.js")