extends layout
block content
    h2(style="text-align: center;")= title

    form(action="/sendMessage" method="post")
        h4 Enviar mensaje:
        label(for="channel") Id del canal:
        input(type="number" id="channel" name="channel" placeholder="ej: 998707695332884481" required)
        label(for="message") Mensaje:
        textarea(id="message" name="message" placeholder="Mensaje" maxlength="4000" required)
        label(for="message") Embed(json):
        textarea(id="message" name="message" placeholder="Mensaje" maxlength="4000" required) 
        button(type="submit") Enviar mensaje

    script(src="/scripts/bot-api.js")
