extends layout
block content
    section 
        h2(style="text-align: center;")= title
        button(onclick='ppn()') Enviar #{title}dd

    script.
        function ppn() {
            fetch('/ppn', { method: 'POST' });
        }